
@font-face {
    font-family:"font/Lato-Regular ";
    src: url(../font/Lato-Regular.ttf);
}




/* L'étoile donne du style à TOUS les éléments */
* {
    margin: 0;
    padding: 0;
    border: 3px solid hsla(0, 33%, 99%, 0.473);
}



body {
    background-color: white;



    min-height: 100vh;
}

header {

    background-repeat: no-repeat;
    background-color: white;

}













form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input,
textarea {
  margin: 5px;
  border: 1px solid darkblue;
  padding: 10px;
  font-size: 1.1rem;
  font-family:"font/Lato-Regular ";
  border-radius: 5px;
}
textarea {
   
    height: 40px;
    resize: none;
  }
  
  #btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.2s;
  }
  
  #btn-submit:hover {
    background: darkblue;
    color: white;
  }